<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Lastest compiled and minified css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
        <!--jQuery Library-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!--Popper JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        
        <!--Lastest complied javascript-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/styles/Home.css">
        <script src="/contact.js" defer></script>

</head>
<body>
      <header class=" pulse animated masthead" id="background_image">
         <div class=" text-center p-3 " style="background-color: #81c12d;">
            <a href="#" class="text-light" id="covid"> COVID-19 Updates</a>
         </div>
         <nav class="navbar navbar-expand-md p-4" data-aos="slide-down" data-aos-duration="250"
     data-aos-offset="20" data-aos-delay="50">
        <div class="col-6 ">
            <img class=" container img-rounded ">
            <h3 class="container text-light" style="font-size: 85%;">ACOL CHAPEL FUTO</h3>
        </div>
           <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                    data-aos="fade" data-aos-duration="200" data-aos-offset="20" data-aos-delay="50" type="button"
                    data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" ><i
                        class="fa fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                        data-aos-delay="50" ></i></button>

            <div class=" collapse navbar-collapse d-md-inline-block pull-right" id="navbarResponsive">
                <ul class="nav navbar-nav d-md-inline-flex text-uppercase " style="flex-wrap: nowrap;">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active shadow-sm" data-bs-hover-animate="shake"
                            href="index.html" target="_parent"
                            style="width: 80px;margin-right: 0px;font-size: 15px;font-family: Montserrat, sans-serif;padding: 16.5px 15px;">HOME</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="shake"
                            href="portifolio.html" style="padding: 16.5px 15px;font-size: 15px;width: 120px;">PORTIFOLIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="shake"
                            href="portifolio.html" style="padding: 16.5px 15px;font-size: 15px;width: 100px;">SERVICES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="shake"
                            style="width: 80px;padding: 16.5px 15px;padding-right: 15px;padding-top: 16.5px;margin: 0px 0px 0px 0px;padding-bottom: 16.5px;padding-left: 15px;margin-right: 0px;font-size: 15px;"
                            href="About.html">ABOUT</a></li>
                    <li class="nav-item" role="presentation" style="font-size: 15px;"><a class="nav-link"
                            data-bs-hover-animate="shake"
                            style="padding: 16.5px 15px;margin: 0px 0px 0px 0px;width: 80px;margin-right: 10px;padding-top: 16.5px;padding-bottom: 16.5px;padding-right: 15px;padding-left: 15px;height: 55px;font-size: 15px;"
                            href="About.html">CONTACT</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
            </div>
            
           </div>
        
        </div>
           
        </nav>



      </header>
</body>
</html>